anyio
bcrypt
fastapi
google-genai
pydantic
pyjwt
python-dotenv
python-multipart
rapidfuzz
sqlalchemy
uvicorn[standard]
psycopg2-binary
gunicorn
pyotp
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
